@use "../utils/box-shadow";
@use "../utils/linear-gradient";
@use "../utils/mixins";


.reserverMenu{
    text-align: center;
    h2{
    font-size: 20px;
}
    p {
    font-size: 10px ;
}
 button{
    @include mixins.boutonGeneral;
    @include linear-gradient.gradientColor; 
    @include box-shadow.base-shadow;
}
 

}
 
