 .ville{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    i{
        font-size: 20px;
    }

 }